<h2>Import Groups</h2>
<%= form_tag import_groups_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<hr/>
<h2>Import ParamForecasts</h2>
<%= form_tag import_param_forecasts_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<hr/>
<h2>Import ParamLevels</h2>
<%= form_tag import_param_levels_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<hr/>
<h2>Import ParamPresets</h2>
<%= form_tag import_param_presets_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<hr/>
<h2>Import ParamVals</h2>
<%= form_tag import_param_vals_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<hr/>
<h2>Import Parameters</h2>
<%= form_tag import_parameters_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<hr/>
<h2>Import Regions</h2>
<%= form_tag import_regions_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<hr/>
<h2>Import UOMs</h2>
<%= form_tag import_uoms_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<hr/>
<h2>Import Formulas</h2>
<%= form_tag import_formulas_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<hr/>
<h2>Import ParamRefs</h2>
<%= form_tag import_param_refs_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<hr/>
<h2>Import ParamRegions</h2>
<%= form_tag import_param_regions_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
